.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  padding: 11px 0;

  font-size: 12px;
  border-bottom: 1px solid var(--border-color);
}

.navList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;

  color: var(--gray-600);
}

.socials {
  display: flex;
  align-items: center;
  gap: 8.5px;

  & li {
    width: 12px;
    height: 12px;
  }
}

.telNumber {
  display: inline-flex;
  gap: 10px;
  font-weight: 500;
  color: var(--black);
}

.body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 29px 0 35px;
}



.controls {
  display: flex;
  align-items: center;
  gap: 25px;

  & a {
    width: 20px;
  }
  & li:nth-child(4) {
    display: flex;
    align-items: center;
  }
}

.navBottom {
  padding: 10px 0;
  background-color: var(--background);

  & ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;

    & li:nth-child(2) ul {
      gap: 8px;

      & li:nth-child(2) {
        padding: 3px 9px;

        font-size: 10px;
        color: var(--white);

        border-radius: 300px;
        background-color: var(--purple);
      }
    }

    & li:last-child {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
