.root {
  h1 {
    font-size: clamp(24px, 1.304rem + 0.98vw, 35px);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-top: 85px;
  }

  h2 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    margin-bottom: 25px;
  }

  button {
    height: auto;
    font-family: var(--font-family);
    padding: 10px 20px;
    font-size: 12px;
    color: var(--white);
    background-color: var(--purple);
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 155px 0 55px;
    background-color: var(--background-gray);
    border-radius: 10px;

    .icon {
      font-size: 135px;
      margin-bottom: 35px;

      color: var(--gray-600);
    }
  }
}
