@import './reset.scss';
@import './vars.scss';

/* general */
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  color: var(--black);
  line-height: 1.3;
  overflow-x: hidden;
}

a {
  color: currentColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;

  &--large {
    max-width: 1410px;
  }
  &--right {
    max-width: unset;
    padding-left: calc((100% - 1140px) / 2);
    padding-right: unset;
  }
}

.main {
  flex-grow: 1;

  &--p {
    padding: 150px 0 0 0;
  }
}

.none {
  display: none !important;
}
/* end */

.btn {
  padding: 10px 20px;
  font-size: 12px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in;

  &--purple {
    background-color: var(--purple);
    color: var(--white);

    &:hover {
      box-shadow: 0 0 0 1.3px var(--purple);
      color: var(--purple);
      background-color: var(--white);
    }
  }

  &--white {
    background-color: var(--white);
    color: var(--purple);
    font-size: 16px;

    &:hover {
      box-shadow: 0 0 0 1.3px var(--white);
      color: var(--white);
      background-color: var(--purple);
    }
  }
}
