@import './reset.scss';
@import './vars.scss';

/* general */
html,
body {
  color: var(--black);
}

a {
  color: currentColor;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.overflow {
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1205px;
  padding: 0 15px;
  margin: 0 auto;

  &--large {
    max-width: 1410px;
  }
  &--right {
    max-width: unset;
    padding-left: calc((100% - 1140px) / 2);
    padding-right: unset;

    @media (min-width: 320px) {
      padding-left: 15px;
    }
    @media (min-width: 1180px) {
      padding-left: calc((100% - 1140px) / 2);
    }
  }
}

/* service-card */
.services-cards {
  padding: clamp(2.5rem, 0.417rem + 10.42vw, 6.875rem) 0;

  &__body {
    display: flex;
    align-items: center;

    gap: 30px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
}
/* end */

/* swiper */
.swiper-slide-thumb-active {
  border: 2px solid var(--purple);
}
/* end */

/* antd table */
.ant-table-container {
  font-family: var(--font-family) !important;
  font-size: 12px;
}

.ant-table-cell {
  padding: 10px !important;
  background-color: transparent !important;

  &:last-child {
    text-align: center;
  }

  @media (max-width: 400px) {
    padding: 5px !important;
  }
}

.ant-table-cell-row-hover {
  background-color: transparent !important;
}

.ant-table-thead > tr > th {
  background-color: var(--background-gray) !important;

  &:last-child {
    color: var(--gray-600);
  }
}

/* end */
