@import './reset.scss';
@import './vars.scss';

/* general */
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  color: var(--black);
  line-height: 1.3;
  overflow-x: hidden;
}

a {
  color: currentColor;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;

  &--large {
    max-width: 1410px;
  }
}

.main {
  flex-grow: 1;

  &--p {
    padding: 150px 0 0 0;
  }
}

.none {
  display: none !important;
}
/* end */

/* swiper */
.swiper-button-next,
.swiper-button-prev {
  height: 26px;
  width: 26px;
  // &::after {
  //   content: url('/icons/slider/slider-btn-next.svg') !important;
  // }
}

.swiper-button-prev {
  // height: 26px;
  // width: 26px;
  // &::after {
  //   content: url('/icons/slider/slider-btn-prev.svg') !important;
  // }
}

/* end */
