.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  min-height: 492px;

  overflow: hidden;

  border-radius: 5px;
  border: 1.5px solid var(--gray-200);
  transition: box-shadow 0.2s ease-in;

  @media (max-width: 665px) {
    flex-direction: row;
    min-height: unset;
    width: 100%;
  }
  @media (max-width: 500px) {
    flex-direction: column;
    .top {
      max-width: unset;
    }
  }

  &:hover {
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
  }
}

.top {
  position: relative;
  height: 230px;
  flex-grow: 1;

  img {
    user-select: none;
    object-fit: cover;
    object-position: center;
  }

  .trend,
  .new {
    position: absolute;
    top: 10px;

    padding: 5px 10px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    font-weight: 500;
    color: var(--white);

    border-radius: 5px;
  }

  .trend {
    left: 10px;
    text-transform: uppercase;
    background-color: var(--orange-primary);
  }

  .new {
    left: 10px;
    text-transform: capitalize;
    background-color: var(--green);
  }

  .balance {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.title {
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

  margin-bottom: 20px;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 20px 25px 20px;

  @media (max-width: 768px) {
    flex: 1;
  }
}

.infoList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 16px;

  margin-bottom: 25px;

  font-family: var(--second-family);
  font-size: 14px;
  color: var(--gray-600);

  & li {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
}

.totalPrice {
  height: 47px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.price {
  font-size: 20px;
  font-weight: 600;
}
.discount {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-600);
  text-decoration: line-through;
}

.bottom {
  display: flex;
  justify-content: space-between;
  gap: 26px;

  margin-bottom: 16px;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnBuy {
  padding: 10px 65px;

  font-size: 12px;
  font-family: var(--font-family);
  background-color: var(--purple);
}

.cartBtn,
.favouriteBtn {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--purple);
  border: 2px solid var(--gray-200);
  border-radius: 50%;
  transition: background-color 0.2s ease-in;

  &:hover {
    background-color: var(--gray-200);
  }

  svg {
    width: 18px;
    height: 18px;
  }
}
