.btn {
  // min-width: ;
  padding: 15px 25px;
  font-size: 16px;
  text-align: center;
  border-radius: 5px;
  transition: background-color 0.2s ease-in, box-shadow 0.2s ease-in, color 0.2s ease-in,
    border 0.2s ease-in;

  &:disabled {
    background-color: lightgray;
    color: gray;
    opacity: 0.3;

    cursor: not-allowed;
    pointer-events: none;
    user-select: none;

    &:hover {
      background-color: lightgray;
      color: gray;
    }
  }
}

.purple {
  color: var(--white);
  background-color: var(--purple);

  &:hover {
    color: var(--purple);
    background-color: var(--white);
    box-shadow: 0 0 0 1.5px var(--purple);
  }
}

.white,
.whiteBorder {
  color: var(--purple);
  background-color: var(--white);

  &:hover {
    color: var(--white);
    background-color: var(--purple);
    box-shadow: 0 0 0 1.5px var(--white);
  }

  &Border {
    border: 1px solid var(--purple);
  }
}

.blackText {
  color: var(--black);
  background-color: var(--white);

  &:hover {
    color: var(--white);
    background-color: transparent;
    box-shadow: 0 0 0 1.5px var(--white);
  }
}

.btnSecondary {
}
