.root {
  max-width: 227px;
  width: 100%;
}

.real {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked + .fake {
    box-shadow: 0 0 0 2px var(--purple);
  }
}

.fake {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  font-size: 18px;
  font-weight: 400;
  text-align: center;

  min-height: 80px;
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid var(--gray-200);

  user-select: none;

  & span {
    font-size: 14px;
    color: var(--gray-600);
  }

  @media (max-width: 1015px) {
    max-width: 100%;
  }

  &.xl {
    min-height: 125px;
  }
}
