.root {
  padding-top: 77px;
}

.swiper {
  max-width: 570px;
  width: 100%;
  min-height: 690px;

  border-radius: 5px;
  overflow: hidden;

  .slide {
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      user-select: none;
    }
  }
}

.main {
  height: 100vh;

  background-color: blueviolet;
}

.mainSlider {
  border-radius: 5px;
  margin-bottom: 10px;

  .slide {
    height: 505px;
  }
}
.secondSlider {
  border-radius: 5px;
  & div {
    row-gap: 10px;
    flex-wrap: wrap;
  }
  .slide {
    height: 75px;
    width: 75px !important;
  }
}
