.footer {
  padding-top: 46px;
  padding-bottom: clamp(2.875rem, 2rem + 4.38vw, 5.938rem);
  background-color: var(--background-gray);
}
.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: clamp(2.5rem, 1.161rem + 6.7vw, 7.188rem);
  border-bottom: 1px solid #5d6c7b17;

  h5 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 17px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    color: var(--gray-600);
  }

  @media (max-width: 790px) {
    justify-content: start;
  }
}

.catalogue {
  flex-grow: 1;
  flex-shrink: 1;
}

.forCustomers {
  flex-grow: 1;
  flex-shrink: 1;
  &Body {
    display: flex;
    gap: 45px;
  }
}
.catalogue,
.forCustomers {
  @media (max-width: 790px) {
    flex: none;
  }
}

.contacts {
  flex-shrink: 1;

  &Body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 7px;

      li {
        font-size: 12px;
        color: var(--gray-600);

        a {
          font-size: 16px;
          font-weight: 500;
          color: var(--black);
        }

        span {
          color: var(--black);
        }
      }
    }
  }
}

.link {
  font-size: 12px;
  color: var(--purple);
  transition: opacity 0.2s ease-in;

  &:hover {
    opacity: 0.6;
  }
}

.bottom {
  padding-top: 36px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;

  @media (max-width: 550px) {
    gap: 25px;
  }
}

.store {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;

  img {
    border-radius: 5px;
    height: 45px;
  }
}
