.form {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  margin-right: clamp(0px, -3.357rem + 6.99vw, 47px);
  border: 1.5px solid var(--purple);
  border-radius: 5px;

  @media (max-width: 450px) {
    width: 100%;
  }
}

.select {
  div {
    background-color: var(--background-gray) !important;
    border: none !important;
  }
}

.input {
  padding: 8px 50px 8px 20px;
  flex-grow: 1;
  border: none;

  &::placeholder {
    font-size: 14px;
    color: var(--gray-600);
  }
}

.searchBtn {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;

  background: var(--purple);
}
