.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  padding-left: 4px;
  margin-right: 47px;

  border: 1.5px solid var(--purple);
  border-radius: 5px;
}

.select {
  height: 40px;
}

.input {
  padding: 10px 10px 10px 20px;
  flex-grow: 1;

  &::placeholder {
    font-size: 14px;
    color: var(--gray-600);
  }
}

.searchBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 45px;
  background: var(--purple);
}
