:root {
    --font-family: "Jost", sans-serif;
    --second-family: "Roboto", sans-serif;

    --white: #fff;
    --purple: #6f73ee;
    --green: #75d14a;
    --orange-primary: #ee685f;
    --orange-secondary: #f3a712;
    --gray-600: #5d6c7b;
    --gray-200: #eaebed;
    --black: #282739;

    --border-color: #ecf3ff;
    --background: #f4f7fb;

    --card-img-bg: #f0f1f5;
}
