.services {
  padding: 110px 0 110px;
}

.servicesBody {
  display: flex;
  align-items: center;
  gap: 30px;
}

.servicesLink {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  color: var(--purple);

  &:hover::after {
    right: -15px;
  }

  &::after {
    content: url('/icons/arrow.svg');
    position: absolute;
    top: 8px;
    right: -10px;
    height: 11px;
    transform: translate(50%, -50%);
    transition: right 0.2s ease-in;
  }
}

.servicesCard {
  width: 540px;
  height: 245px;
  padding: 35px 0 35px 40px;
  border-radius: 10px;

  background-image: url('/img/bg-scooter.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  &:last-child {
    background-image: url('/img/bg-services.jpg');
  }
}

.servicesTitle {
  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.servicesSubTitle {
  font-size: 16px;
  margin-bottom: 22px;
}

.servicesTitle,
.servicesSubTitle {
  max-width: 260px;
}
